
Django==2.2.22
django-admin-interface==0.11.2
django-better-admin-arrayfield==1.0.4
django-colorfield==0.1.15
django-countries==5.5
django-filer==1.6.0
django-js-asset==1.2.2
django-json-widget==0.2.0
Pillow==6.2.1
psycopg2-binary==2.8.4

